@use "/src/nationalarchives/variables/assets" with (
  $fa-font-path: "../assets/fonts"
);
@use "/src/nationalarchives/all";
@use "/src/nationalarchives/font-awesome";

@import "https://use.typekit.net/kaq6qqh.css";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap";

.sbdocs.sbdocs-wrapper,
.sb-show-main.sb-main-padded {
  padding: 32px;
}
